@font-face {
  font-family: 'periods-icon';
  src:
    url('./assets/fonts/periods-icon.ttf') format('truetype'),
    url('./assets/fonts/periods-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'periods-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-arrowSelectBox:before {
  content: "\e916";
}
.p-close:before {
  content: "\e915";
}
.p-arrowDown:before {
  content: "\e914";
}
.p-favorite:before {
  content: "\e913";
}
.p-update:before {
  content: "\e912";
}
.p-info:before {
  content: "\e911";
}
.p-error:before {
  content: "\e910";
}
.p-check:before {
  content: "\e909";
}
.p-delete:before {
  content: "\e908";
}
.p-add:before {
  content: "\e907";
}
.p-menu:before {
  content: "\e906";
}
.p-isha:before {
  content: "\e905";
}
.p-maghrib:before {
  content: "\e904";
}
.p-asr:before {
  content: "\e903";
}
.p-zuhr:before {
  content: "\e902";
}
.p-shams:before {
  content: "\e901";
}
.p-fajr:before {
  content: "\e900";
}