$bg-color: #ECF0F2;
$bg-backtitle-color: rgba(#9CABB9, 0.14);
$bg-title-color: #232E42;
$bg-subtitle-color: #55626E;
$bg-text-color: #8893A6;
$bg-icon-color: #434B52;

$w-bg-color: rgba(#FFF, 0.67);
$w-sd: 0px 12px 30px 0px rgba(#333B45, 0.15);
$w-title: #2E3039;
$w-subtitle: #657D95;

$seperator: rgba(#C9D1D8, 0.3);

$primary-color: #3283D3;
$primary-dark: #202B3D;

$button-color: #2C7DCE;
$button-disabled-color: rgba($button-color, 0.3);
$button-disabled-text: #9CABB9;
$button-sd: 0px 10px 19px 0px rgba($button-color, 0.50);

$second-button-color: #55626E;
$second-button-sd: 0px 10px 19px 0px rgba($second-button-color, 0.50);

$circle-button-size: 72px;
$circle-button-icon-size: 26px;